@charset "utf-8";
/* CSS Document */

/*Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
}

/*----- Header-----*/
#bg_header {
	background: #1ac1f4;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;

}

.linea {
	border: 0;
    height: 1px;
    background: #fff; 
	margin:0;
	padding: 0;
}

#bg_header img {
	margin: auto;
	display:block;
}

.header {
	width: 960px;
	height: 115px;
	margin: auto;
}

.mod {
	height: 54px;
}

img.logo {
	float: left;
}

.header ul{
	float: right;
	padding-top: 19px;
}

/*----- Menu-----*/
#barra {
	width: 100%;
	height: 30px;
	background-image: linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -o-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	border-top: 1px solid #032d57;
	border-bottom: 1px solid #d0effa ;
}

#barra_modulos {
	width: 100%;
	height: 54px;
	background-image: linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -o-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	border-top: 1px solid #032d57;
	border-bottom: 1px solid #d0effa ;
}

.menu{
	width: 960px;
	height: 32px;
	margin: auto;
}

.menu ul li{
	display: inline;
	padding: 0 42px 0 0;
}

.menu ul li a{
	color: white;
	font: 14px normal Helvetica, Verdana, sans-serif;
	text-decoration: none;
}

.menu ul {
	padding-top: 7px;
	list-style: none;
    margin: 0;
}

.menu ul li a:hover {
	border-bottom: 1px solid #FFFFFF;
}

a.activo {
	border-bottom: 1px solid #FFFFFF;
}

/*----- Contenedor-----*/
#contenedor {
	width: 960px;
	min-height: 100%;     
    height: auto !important;     
    height: 100%;     
    margin: 0 auto -187px; 
    z-index: 2;
    position: relative;
}

/*-----Contenido-----*/
#contenido {
	width: 960px;
	height: auto;
}

#contenido h1 {
	margin-top: 5px;
	text-align: center;
	margin-bottom: 0;
}

.bg_contenido{
	width: 100%;
	height: 260px;
	background-image: linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
}
/*PARA  LA BUSQUEDA Y OTRAS */

/* You named this layer Capa 3 */
.Layer-32 {
  float: left;
  width: 419px;
  height: 323px;
  padding-top: 50px;
  padding-left:auto;
  background-color: #f0f0f0;
	border: 2px solid #013973;
	margin-top: 23px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	 box-shadow: 0 12px 10px rgba(0, 0, 0, 0.7);
}


/* You named this layer Capa 4 */
.Layer-34 {
  float: right;
  width: 419px;
  height: 323px;
  padding-top: 50px;
  background-color: #f0f0f0;
	border: 2px solid #013973;
	margin-top: 23px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	 box-shadow: 0 12px 10px rgba(0, 0, 0, 0.7);
} 

/*-----Contenido HOME-----*/

/*-----Columna izquierda-----*/

#columna_izquierda{
	width: 709px;
	height: 100%;
	border-right: 1px solid #5dbedb;
	float: left;
}

.contenedor_secciones {
	width: 693px;
	height: 240px;
}

.contenedor_secciones span {
	display: inline-block; 
	margin-right: -1px; 
	vertical-align: middle; 
	height:278px;
	width: 1px;
}

.contenedor_secciones:last-child {
	margin-bottom: 10px; 
}

.mas{
	margin-left: 50px;
}

.seccion_img {
	width: 249px;
	height: 220px;
	background-color: #f0f0f0;
	border: 2px solid #013973;
	margin-top: 5px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}

.seccion_img span {
	display: inline-block; 
	margin-right: -1px; 
	vertical-align: middle; 
	height:193px;
	width: 1px;
}

.seccion_img img, .contenedor_secciones img{
	vertical-align: middle; 
}

.seccion_img h4 {
	margin: auto;
}

.uno {
	float: left;
}

.dos {
	float: right;
}

.fraternidad_h4 {
	position: relative;
	bottom: 20px;
}

/*-----Fin columna izquierda-----*/

/*-----Columna derecha-----*/
#columna_derecha{
	width: 250px;
	height: 100%;
	float: left;
}

#columna_derecha h3{
	padding: 5px 0 0 22px;
	margin-bottom: 0;
}

#columna_derecha .form-group:first-child label{
	padding-top: 5px;
}

#columna_derecha .form-group label{
	padding-left: 15px;
}

#columna_derecha .form-group{
	margin-bottom: 8px;
	text-align: left;
}

#columna_derecha .form-group input{
	margin: auto;
	padding-left: 0;
}

#columna_derecha input {
	width: 191px;
}

.login {
	width: 228px;
	height: 190px;
	float: right;
	margin-top: 3px;
}

#columna_derecha .form-group input::-webkit-input-placeholder {
    padding-left: 5px;
}
#columna_derecha .form-group input:-moz-placeholder {
    padding-left: 5px;
}

/*-----Fin columna derecha-----*/

/*-----Fin Contenido HOME-----*/


/*-----Contenido Como funciona-----*/

#contenido h2 {
	text-align: center;
	margin: 0; 
}

#contenido .como_funciona_1 h3, #contenido .como_funciona_2 h3{
	margin: 0;
}

#contenido .btn {
	margin: 5px 0 15px;
}

.como_funciona_1, .como_funciona_2 {
	width: 390px;
	height: 200px;
	margin-bottom: 15px;
	margin-top: 5px;
}

.como_funciona_1 span, .como_funciona_2 span{
	height: 160px;
}

.como_funciona_1 {
	float: left;
}

.como_funciona_2 {
	float: right;
}

.como_funciona span {
	height: 186px;
}

.flecha {
	margin-left: 15px;
	margin-top: 90px;
	float: left;
}

/*-----Fin Contenido Como funciona-----*/

/*-----Contenido Agregar Vehiculo-----*/
.seccion_imgs {
	border: 2px solid #013973;
	background-color: #f0f0f0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
	color: #013973;
	margin: 10px auto 30px;
}

.seccion_imgs .col-md-6 {
    margin-top: 10px;
}

.seccion_imgs .col-md-6:first-child {
    border-right: 1px solid #5dbedb;
}

.seccion_imgs .form-group:last-child {
    margin-bottom: 0px;
}

.seccion_imgs input {
    width: 90%;
    margin: auto;
}

.seccion_imgs label {
    padding-left: 22px;
}

.btn_vehiculo{
    margin-top: 10px;
}

/*-----Fin Contenido Agregar Vehiculo-----*/

/*-----Contenido Ingresar Vehiculo-----*/
#checkboxset label {
    padding: 0;
}

#checkboxset {
    margin: 0 auto 10px;
    width: 90%;
}

.form-group textarea, .form-group select {
    width: 90%;
    margin: auto;
}

.form-group textarea.form-control {
    height: 153px;
}

/*-----Fin Contenido Ingresar Vehiculo-----*/

/*-----Contenido Busqueda-----*/
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
/*-----Contenido Busqueda-----*/

#push {
	height: 187px;
}

/*-----Caja Sombra-----*/
.caja-sombra{
    position: relative;
}
.caja-sombra:before, .caja-sombra:after{
    content: "";
    position: absolute;
    z-index: -2;
}
.caja-sombra:before{
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.caja-sombra:after{
    bottom: 15px;
    width: 50%;
    height: 20%;
    right: 10px;
    left: auto;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

/*-----footer-----*/

#footer {
	width: 100%;
	height: 186px;
	background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	border-top: 1px solid #5dbedb;
	z-index: 2;
    position: relative;
}

.footer_960 {
	width: 960px;
	margin: auto;
}

.secciones_foot {
	width: 298px;
	height: auto;
	padding-top: 12px;
}

.secciones_foot h3{
	font: 14px Helvetica, Verdana, sans-serif;
	font-weight: bold;
	color: #38879f;
	border-bottom: 5px solid #82c0e7;
	text-align: center;
	margin: 0;
}

.secciones_foot ul li a {
	font: 14px normal Helvetica, Verdana, sans-serif;
	color: #38879f;
	text-decoration: none;
	cursor: pointer;
}

.secciones_foot ul li a:hover {
	border-bottom: 1px solid #38879f;
}

.secciones_foot ul {
	padding-top: 12px;
	list-style: none;
    margin: 0; 
}

.secciones_foot li {
	padding-bottom: 11px;
}

#foot_carpooling {
	float: left;
}

#foot_mas_info {
	float: left;
	padding-left: 31px; 
}

#foot_redes_sociales {
	float: right;
}

#foot_redes_sociales img{
	margin: 12px auto;
	display:block; 
}

hr.linea_2 {
	border: 0;
	width: 960px;
    height: 4px;
    background: #9bd6fb; 
	margin:0;
	padding: 0;
}

.footer_960 p {
	font: 13px normal Helvetica, Verdana, sans-serif;
	color: #38879f;
	text-align: center;
	letter-spacing: 4px;
	padding: 4px 0 5px;
}