@charset "utf-8";
/* CSS Document */ /* ESTILOS PARA CARPOOLING */

/*Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
}

/*----- Header-----*/
#bg_header {
	background: #1ac1f4;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;

}

.linea {
	border: 0;
    height: 1px;
    background: #fff; 
	margin:0;
	padding: 0;
}

#bg_header img {
	margin: auto;
	display:block;
}

.header {
	width: 960px;
	height: 114px;
	margin: auto;
}

.mod {
    height: 54px;
}

img.logo {
	float: left;
}

.header ul{
	float: right;
	padding-top: 19px;
}

/*----- Menu-----*/
#barra {
	width: 100%;
	height: 30px;
	background-image: linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -o-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	border-top: 1px solid #032d57;
	border-bottom: 1px solid #d0effa ;
}

#barra_modulos {
	width: 100%;
	height: 54px;
	background-image: linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -o-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(1,154,219) 20%, rgb(2,62,122) 100%);
	border-top: 1px solid #032d57;
	border-bottom: 1px solid #d0effa ;
}

.menu{
	width: 960px;
	height: 30px;
	margin: auto;
}

.menu ul li, .header ul li {
	display: inline;
	padding: 0 42px 0 0;
}

.menu ul li a, .header ul li a{
	color: white;
	font: 14px normal Helvetica, Verdana, sans-serif;
	text-decoration: none;
}

.menu ul {
	padding-top: 7px;
}

.menu ul li a:hover, .header ul li a:hover {
	border-bottom: 1px solid #FFFFFF;
}

/*----- Contenedor-----*/
#contenedor {
	width: 960px;
    min-height: 100%;     
    height: auto !important;     
    height: 100%;     
    margin: 0 auto -187px; 
    z-index: 2;
    position: relative;
}

/*-----Contenido-----*/
#contenido {
	width: 960px;
	height: auto;
	margin-top:4px;
}
	.bg_contenido{
	width: 100%;
	background-image: linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(222,222,222) 60%);
	font: 15px Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: black;
	
}
  .registro {
	  font: 12px Verdana, Geneva, sans-serif;
    }
 
 .disp_table {
     display: table;
 }
 /* You named this layer Capa 3 */
.Layer-32 {
  float: left;
  width: 419px;
  height: 223px;
  padding-top: 100px;
}

/* You named this layer Capa 4 */
.Layer-34 {
  float: right;
  width: 419px;
  height: 223px;
  padding-top: 100px;
} 

#push {
	height: 187px;
}

/*-----footer-----*/

#footer {
	width: 100%;
	height: 186px;
	background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(165,222,240) 67%);
	border-top: 1px solid #5dbedb;
	z-index: 2;
    position: relative;
}

.footer_960 {
	width: 960px;
	margin: auto;
}

.secciones_foot {
	width: 298px;
	height: auto;
	padding-top: 12px;
}

.secciones_foot h3{
	font: 14px Helvetica, Verdana, sans-serif;
	font-weight: bold;
	color: #38879f;
	border-bottom: 5px solid #82c0e7;
	text-align: center;
}

.secciones_foot ul li a {
	font: 14px normal Helvetica, Verdana, sans-serif;
	color: #38879f;
	text-decoration: none;
	cursor: pointer;
}

.secciones_foot ul li a:hover {
	border-bottom: 1px solid #38879f;
}

.secciones_foot ul {
	padding-top: 12px;
    list-style: none;
    margin: 0;
}

.secciones_foot li {
	padding-bottom: 11px;
}

#foot_carpooling {
	float: left;
}

#foot_mas_info {
	float: left;
	padding-left: 31px; 
}

#foot_redes_sociales {
	float: right;
}

#foot_redes_sociales img{
	margin: auto;
	display:block;
	padding-top: 12px; 
}

hr.linea_2 {
	border: 0;
	width: 960px;
    height: 4px;
    background: #9bd6fb; 
	margin:0;
	padding: 0;
}

.footer_960 p {
	font: 13px normal Helvetica, Verdana, sans-serif;
	color: #38879f;
	text-align: center;
	letter-spacing: 4px;
	padding-top: 4px;
}